<div class="row" style="margin: 20px;">
    <div class="row">
        <h3>ID</h3>
        <p><strong>{{producto.id}}</strong></p>
    </div>
    
    <div class="row">
        <h3>Tipo</h3>
        <p><strong>{{producto.tipo | titlecase}}</strong></p>
    </div>
    
    <div class="row">
        <h3>Cantidad</h3>
        <p><strong>{{producto.cantidad | number}} Uds</strong></p>
    </div>
    
    <div class="row">
        <h3>Precio</h3>
        <p><strong>{{producto.precio | number}} Euros</strong></p>
    </div>
</div>