<div class="row header">
  <h1>APP Productos</h1>
</div>

<div class="row">
  <ul>
    <li>
      <a routerLink=''>Home</a>
    </li>
    <li>
      <a routerLink='ver'>Ver Productos</a>
    </li>
    <li>
      <a routerLink='gestionar'>Gestionar producto</a>
    </li>
    <li>
      <a routerLink='historico'>Histórico</a>
    </li>
  </ul>
</div>

<div class="row">
  <!-- <app-tabla-registros [registro]="registro"></app-tabla-registros>  -->
  <!-- <app-editar-producto></app-editar-producto> -->
  <router-outlet></router-outlet>

  
</div>